*.pyc
src/portfolio_value.egg-info/dependency_links.txt
src/portfolio_value.egg-info/PKG-INFO
src/portfolio_value.egg-info/requires.txt
src/portfolio_value.egg-info/SOURCES.txt
src/portfolio_value.egg-info/top_level.txt
.vscode/settings.json

